appdirs==1.4.3
asgiref==3.2.3
awsebcli==3.17.1
botocore==1.14.17
cement==2.8.2
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.9
distlib==0.3.0
Django==3.0.3
docutils==0.15.2
filelock==3.0.12
future==0.16.0
idna==2.7
importlib-metadata==1.5.0
jmespath==0.9.5
pathspec==0.5.9
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.3
pywin32==227
PyYAML==5.2
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
virtualenv==20.0.1
virtualenvwrapper-win==1.2.5
wcwidth==0.1.8
zipp==2.2.0
