<!-- admin toweradd -->
{% extends "menu.html"%} 
{% block content %} 
<center> <h2 style="color: black;">Tower</h2></center>
<br>
<div class="col-md-6 col-md-offset-3" > 
    <form action="" method="POST"> 
        {% csrf_token %} 
        <div class="form-group col-md-6"> 
          <label>Rack id</label> 

           <select name="rackid" class="col-md-6"> 
            {% for obj in rackdata %} 
            <option value="{{obj.id}}">{{obj.rack_name}}</option> 
            {% endfor %}
           </select> 
          </div> 
           <div class="form-group col-md-6"> 
            <label>Bayid</label> 
             <select name="bayid" class="col-md-6"> 
              {% for obj in baydata %} 
              <option value="{{obj.id}}">{{obj.bay_name}}</option> 
              {% endfor %}
             </select> 
          </div> 
          <div class="form-group col-md-6"> 
            <label>Vendorid</label> 
             <select name="vendorid" class="col-md-6"> 
              {% for obj in vendordata %} 
              <option value="{{obj.id}}">{{obj.vender_name}}</option> 
              {% endfor %}
             </select> 
          </div> 
        
        <div class="form-group"> 
          <label>Tower name:</label> 
          <input type="text" class="form-control" name="towername" placeholder="Enter Name" id="pwd"> 
        </div> 
        <div class="form-group"> 
            <label>Tower Location:</label> 
            <input type="text" class="form-control" name="towerlocation" placeholder="Enter Location" id="pwd"> 
          </div> 
          <div class="form-group"> 
            <label>QR code:</label> 
            <input type="text" class="form-control" name="qrcode" placeholder="" id="pwd"> 
 
          </div> 
          <div class="form-group"> 
            <label>Tower color:</label> 
            <input type="text" class="form-control" name="towercolor" placeholder="Enter Location" id="pwd"> 
          </div> 
          <div class="form-group"> 
            <label>Tower Height:</label> 
            <input type="text" class="form-control" name="towerheight" placeholder="Enter Location" id="pwd"> 
          </div> 
 
 
        <center> 
        <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <button type="submit" class="btn btn-danger">Cancel</button> 
        </center> 
        {% if msg %} 
        <span style="color: darkred;"> {{msg}}</span> 
         {% endif %} 
             
 
      </form> 
</div> 
 
{% endblock %}