<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <title>Bootstrap Example</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <style>
      /* #bgi{
          opacity: 0.2;
          background-image: url("img2.jpg");
          position: absolute;
          
          
      } */
     #draggablePanelList .panel-heading {
        cursor: move;
    }
 #draggablePanelList2 .panel-heading {
        cursor: move;
    }
     .magnify{
         transition:0.4s;
         cursor: pointer;
     }

     .magnify:hover
     {
         transform: scale(1.1);
     }

  </style>
</head> 
<body> 
    <div class="container"> 
       
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
    <nav class="navbar navbar-inverse"> 
        <div class="container-fluid"> 
          <div class="navbar-header"> 
            <a class="navbar-brand" href="#">Tazofarm</a> 
          </div> 
          <ul class="nav navbar-nav"> 
            <li class="active"><a href="#">Home</a></li> 
            <li><a href="#">Page 1</a></li> 
            <li><a href="#">Page 2</a></li> 
          </ul> 
          <ul class="nav navbar-nav navbar-right"> 
             
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> 
          </ul> 
        </div> 
      </nav>
      </div>
    </div>
    
    <div class="container" id="draggablePanelList">
       
            <div class="col-lg-6 col-md-6 col-xs-12 magnify ">
            <div class="panel panel-info">
                <div class="panel-heading">You can drag this panel.</div>
                <div class="panel-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                              <th>Rack Name</th>
                              <th>Bay id</th>
                              <th>Bay Name</th>
                            
                              <th>QR Code</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for obj in baydata %}
                            <tr data-ng-repeat="customer in people | filter: table">
                              <td>{{obj.fk_rackid.rack_name}}</td>
                              <td>{{obj.id}}</td>
                              <td>{{obj.bay_name}}</td>
                              <td>{{obj.qrcode}}</td>
                              
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
            </div>
            <div class="col-lg-12 col-md-6 col-xs-12 magnify " >
            <div class="panel panel-info" >
                <div class="panel-heading">You can drag this panel too.</div>
                <div class="panel-body">
                    <!-- <div class="col-md-4"> -->
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                    <tr>
                      <th>Tower id</th>
                      <th>Tower Name</th>
                      <th>Tower Location</th>
                      <th>QR code</th>
                      <th>Tower Color</th>
                      <th>Tower Height</th>
                      <th>Rack Name </th>
                      <th>Bay Name </th>
                      <th> Vendor name </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in towerdata %}
                    <tr data-ng-repeat="customer in people | filter: table">
                      <td>{{obj.id}}</td>
                      <td>{{obj.tower_name}}</td>
                      <td>{{obj.tower_location}}</td>
                      <td>{{obj.qrcode}}</td>
                      <td>{{obj.tower_color}}</td>
                      <td>{{obj.tower_height}}</td>
                      <td>{{obj.Rack_id.rack_name}}</td>
                      <td>{{obj.Bay_id.bay_name}}</td>
                      <td>{{obj.vender_id.vender_name}}</td>
          
                    </tr>
                    {% endfor %} 
                    </tbody>
                  </table>
                </div></div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
            <div class="panel panel-info">
                <div class="panel-heading">You can drag this panel too.</div>
                <div class="panel-body">More blah content here...</div>
            </div>
            </div>
            <div class="col-lg-6 col-xs-12 magnify" >
            <div class="panel panel-info">
                <div class="panel-heading">You can drag this panel too.</div>
                <div class="panel-body">Another content panel here...</div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                <div class="panel panel-info">
                    <div class="panel-heading">You can drag this panel too.</div>
                    <div class="panel-body">More blah content here...</div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                    <div class="panel panel-info">
                        <div class="panel-heading">You can drag this panel too.</div>
                        <div class="panel-body">More blah content here...</div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                        <div class="panel panel-info">
                            <div class="panel-heading">You can drag this panel too.</div>
                            <div class="panel-body">More blah content here...</div>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                            <div class="panel panel-info">
                                <div class="panel-heading">You can drag this panel too.</div>
                                <div class="panel-body">More blah content here...</div>
                            </div>
                            </div>
        
    </div>
     
      <script>
          jQuery(function($) {
        var panelList = $('#draggablePanelList');

        panelList.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading', 
            update: function() {
                $('.panel', panelList).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });

    jQuery(function($) {
        var panelList2 = $('#draggablePanelList2');

        panelList2.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading', 
            update: function() {
                $('.panel', panelList2).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });


      </script>
      
</body> 
</html>  