<!DOCTYPE html>  
<head>  
  <!-- <link href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>   -->
  <!-- <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet' type='text/css'>   -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">  
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>  
  <!-- <link href='https://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css' rel='stylesheet' type='text/css'>   -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>  
  <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js' type='text/javascript'></script>  
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script> 
  <!-- <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>   -->
  <!-- <script src='https://davidstutz.github.io/bootstrap-multiselect/js/bootstrap-multiselect.js' type='text/javascript'></script>   -->
</head>  
<style>  
    .indent-small {  
  margin-left: 5px;  
}  
.form-group.internal {  
  margin-bottom: 0;  
}  
.dialog-panel {  
  margin: 10px;  
}  
.datepicker-dropdown {  
  z-index: 200 !important;  
}  
.panel-body {  
  background: #e5e5e5;  
  /* Old browsers */  
  background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);  
  /* FF3.6+ */  
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));  
  /* Chrome,Safari4+ */  
  background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);  
  /* Chrome10+,Safari5.1+ */  
  background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);  
  /* Opera 12+ */  
  background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);  
  /* IE10+ */  
  background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);  
  /* W3C */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);  
  /* IE6-9 fallback on horizontal gradient */  
  font: 600 15px "Open Sans", Arial, sans-serif;  
}  
label.control-label {  
  font-weight: 600;  
  color: #777;  
}  
label{ 
    font-size: small; 
} 
  
</style>  
<body id="body">  
  <div class='container'>  
    <div class='panel panel-primary '>  
      <div class='panel-heading'>  
        <h5>Crop</h5>  
      </div>  
  
      <div class='panel-body'>  
        <form class='form-horizontal' action="/farmapp/editcrop/" method="POST">  
       {% csrf_token %}
         <div class="col-md-12">  
           
          <div class='form-group  form-inline col-md-4 '>  
            <label class='control-label col-md-4' for='id_title'>Crop name</label>  
            <div class='col-md-8'>   
             <input type='text' class='form-control input cropname' id='id_first_name' name="cropname" value="{{editdata.crop_name}}" >  
            </div>  
              </div>  
  
              <div class='form-group form-inline col-md-4'>  
                <label class='control-label col-md-4 ' for='id_title'>Variety</label>  
                <div class='col-md-8'>   
                 <input type='text' class='form-control' id='id_first_name' name="variety" value="{{editdata.crop_variety}}" >  
                </div>  
                  </div>  
  
                  <div class='form-group form-inline col-md-4'>  
                    <label class='control-label col-md-4' for='id_title'>Crop Desc.</label>  
                    <div class='col-md-8'>   
                     <input class='form-control' id='id_first_name' name="cropdesc" value="{{editdata.crop_desc}}" type='text'>  
                    </div>  
                 
          </div>  
         </div>  
  
         <div class="col-md-12">  
  
          <div class='form-group form-inline col-md-4'>  
            <label class='control-label col-md-4 ' for='id_title'>Crop Duration</label>  
            <div class='col-md-8'>   
             <input class='form-control' id='id_first_name'  name="crop_duration"  value="{{editdata.crop_duration}}" type='text'>  
            </div>  
              </div>  
  
              <div class='form-group form-inline col-md-4'>  
                <label class='control-label col-md-4 ' for='id_title'>Midway Chk. days </label>  
                <div class='col-md-8'>   
                 <input class='form-control' id='id_first_name'  name="midway_check" value="{{editdata.mid_check}}" type='text'>  
                </div>  
                  </div>  
  
                  <div class='form-group form-inline col-md-4'>  
                    <label class='control-label col-md-4 ' for='id_title'>1st Harvest days </label>  
                    <div class='col-md-8'>   
                     <input class='form-control' id='id_first_name' name="ready_4_harvest" value="{{editdata.first_harvest}}" type='text'>  
                    </div>  
                      </div>  
  
  
            </div>  
             
 
 
            <div class="col-md-12">   
                <div class='form-group  form-inline col-md-4'>  
                  <label class='control-label col-md-4 ' for='id_title'>2nd Harvest days </label>  
                  <div class='col-md-8'>   
                   <input class='form-control' id='id_first_name'  name="2nd_Harvest"  value="{{editdata.second_harvest}}" type='text'>  
                  </div>  
                    </div>  
        
                    <div class='form-group form-inline col-md-4'>  
                      <label class='control-label col-md-4 ' for='id_title'>3rd Harvest days</label>  
                      <div class='col-md-8'>   
                       <input class='form-control' id='id_first_name'  name="3_harvest" value="{{editdata.third_harvest}}" type='text'>  
                      </div>  
                        </div>  
        
                        <div class='form-group form-inline col-md-4'>  
                          <label class='control-label col-md-4 ' for='id_title'>4th Harvest days</label>  
                          <div class='col-md-8'>   
                           <input class='form-control' id='id_first_name' name="4_harvest"  value="{{editdata.fourth_harvest}}" type='text'>  
                          </div>  
                </div>  
               </div>  
 
               <div class="col-md-12">   
                <div class='form-group  form-inline col-md-4'>  
                  <label class='control-label col-md-4' for='id_title'>No.of.Harvest</label>  
                  <div class='col-md-8'>   
                   <input class='form-control' id='id_first_name' name="no_harvest"   value="{{editdata.no_harvest_cutting}}" type='text'>  
                  </div>  
                    </div>  
        
                    <div class='form-group form-inline col-md-4'>  
                      <label class='control-label col-md-4 ' for='id_title'>Re-grow days</label>  
                      <div class='col-md-8'>   
                       <input class='form-control' id='id_first_name' name="regrow_days"  value="{{editdata.regrow_dates}}" type='text'>  
                      </div>  
                        </div>  
        
                        <div class='form-group form-inline col-md-4'>  
                          <label class='control-label col-md-4' for='id_title'>Packing Type</label>  
                          <div class='col-md-8'>   
                            <select class='form-control'  name="packingid" id='id_equipment'>  
                                
                                {% for obj in packdata %}
                                <option value="{{obj.id}}">{{obj.packing_type}}</option>
                                {% endfor %}
                                 
                              </select>  
                          </div>  
                </div>  
               </div>  
  
               <div class="col-md-12">   
                <div class='form-group  form-inline col-md-4'>  
                  <label class='control-label col-md-4 ' for='id_title'>Unit per Pack</label>  
                  <div class='col-md-8'>   
                   <input class='form-control' id='id_first_name' name="unit_per_pack"  value="{{editdata.unit_per_pack}}" type='text'>  
                  </div>  
                    </div>  
        
                    <div class='form-group form-inline col-md-4'>  
                      <label class='control-label col-md-4 ' for='id_title'>Price Wholesale</label>  
                      <div class='col-md-8'>   
                       <input class='form-control' id='id_first_name'  name="sp_wholesale" value="{{editdata.sale_price_wholesale}}" type='text'>  
                      </div>  
                        </div>  
        
                        <div class='form-group form-inline col-md-4'>  
                          <label class='control-label col-md-4' for='id_title'>Price Farmer</label>  
                          <div class='col-md-8'>   
                           <input class='form-control' id='id_first_name' name="sp_farmer"  value="{{editdata.sale_price_farmer}}" type='text'>  
                          </div>  
                </div>  
               </div>  
  
   
   
               <div class="col-md-12">   
          <div class='form-group  form-inline col-md-4'>  
            <label class='control-label col-md-4 ' for='id_title'>Crop Type</label>  
            <div class='col-md-8'>   
                <select class='form-control'  name ="crop_typeid" id='croptype'> 
                 {% for obj in croptype %}
                    <option value="{{obj.id}}">{{obj.crop_type}}</option>
                    {% endfor %} 
                    
                  </select>  
            </div>  
              </div>  
  
              <div class='form-group form-inline col-md-4'>  
                <label class='control-label col-md-4 ' for='id_title'>Unit</label>  
                <div class='col-md-8'>   
                    <select class='form-control'  name="unitid" id='id_equipment'>  
                        {% for obj in unitdata %}
                        <option value="{{obj.id}}">{{obj.unit_name}}</option>
                        {% endfor %}
                      </select>  
                </div>  
                  </div>  
  
                  <div class='form-group form-inline col-md-4'>  
                    <label class='control-label col-md-4' for='id_title'>Season</label>  
                    <div class='col-md-8'>   
                        <select class='form-control' name="seasonid" id='id_equipment'> 
                           
                            {% for obj in seasondata %}
                                <option value="{{obj.id}}">{{obj.season}}</option>
                                {% endfor %}  
                            </select>   
                    </div>  
          </div>  
         </div>  
        
  
           
         <div class="col-md-12">   
            <div class='form-group  form-inline col-md-4'>  
              <label class=' col-md-4 ' for='id_title'>Price- Restarunt</label>  
              <div class='col-md-8'>   
               <input class='form-control' id='id_first_name' name="sp_rest"  value="{{editdata.sale_price_rest}}" type='text'>  
              </div>  
                </div>  
    
                <div class='form-group form-inline col-md-4'>  
                  <label class='control-label col-md-4 ' for='id_title'>Soil Type</label>  
                  <div class='col-md-8'>   
                   <input class='form-control' id='id_first_name'  name="soiltype"  value="{{editdata.soil_type}}" type='text'>  
                  </div>  
                    </div>  
    
                    <div class='form-group form-inline col-md-4'>  
                      <label class='control-label col-md-4 ' for='id_title'>Plant distance</label>  
                      <div class='col-md-8'>   
                       <input class='form-control' id='id_first_name' name="distance"  value="{{editdata.plant_distance}}" type='text'>  
                      </div>  
            </div>  
           </div>  
         
 
           <div class="col-md-12">   
            <div class='form-group  form-inline col-md-4'>  
              <label class='control-label col-md-4 ' for='id_title'>Temperature</label>  
              <div class='col-md-8'>   
               <input class='form-control' id='id_first_name' name="temp" value="{{editdata.temparature}}" type='text'>  
              </div>  
                </div>  
                </div>
                <br>
                <br>
                <div class="col-md-12">
                <div class='form-group form-inline col-md-4'>  
                  <label class='control-label col-md-4' id="file_label">Upload image</label>  
                  <div class='col-md-8'>   
                   <input class='form-control input-xs ' name="cropimage" id="image_btn" type="file"> 
                   <img  class="col-md-10" src="{{editdata.crop_image.url}}" width="150" height="100" class="myimage">
                  </div>  
                    </div>  
    
            </div>  
            
         
  
  
            
          <div class='form-group form-inline col-md-12'>  
            <div class='col-md-2 col-md-offset-10'>  
                 
              <button class='btn-sm btn-primary edit' id="{{editdata.id}}" type='button'>Save</button>  
              <!-- <button disabled type="submit" class="btn btn-primary data change" onclick="fn_update_rack()" name="update">Save</button> -->
             
              
             
              <button class='btn-sm btn-danger' style="float:right;" type='submit'>Cancel</button>  
             
            </div>  
          </div>  
          </form>
    </div> 
    
       
       </div> 
   
      </div> 
</body>  
<script>  
    $(document).ready(function() {    
//   $('.multiselect').multiselect();  
  $('.datepicker').datepicker();    
});  
  
</script>  
<script>
//  function fn_update_crop(id) {
//        console.log()

$(document).ready(function(){
 
 
$('.edit').click(function(e){
  

    console.log(e.target.id) 

    var crop_name = $('input[name=cropname]').val();
    console.log(crop_name)
    var variety = $('input[name=variety]').val();
    console.log(variety)
    var cropdesc = $('input[name=cropdesc]').val();
    console.log(cropdesc)
    var crop_duration = $('input[name=crop_duration]').val();
    console.log(crop_duration)

    var midwaycheck = $('input[name=midway_check]').val();
    console.log(midwaycheck)
    var ready_4_harvest = $('input[name=ready_4_harvest]').val();
    console.log(ready_4_harvest)
    var third_harvest = $('input[name=3_harvest]').val();
    console.log(third_harvest)
    var second_Harvest = $('input[name=2nd_Harvest]').val();
    console.log(second_Harvest)
    var fourth_harvest = $('input[name=4_harvest]').val();
    console.log(fourth_harvest)
    var no_harvest = $('input[name=no_harvest]').val();
    console.log(no_harvest)

    var regrowdays = $('input[name=regrow_days]').val();
    console.log(regrowdays)
    var packingid = $('select[name=packingid]').val();
    console.log(packingid)
    var unit_per_pack = $('input[name=unit_per_pack]').val();
    console.log(unit_per_pack)
    var sp_wholesale = $('input[name=sp_wholesale]').val();
    console.log(sp_wholesale)
    var sp_farmer = $('input[name=sp_farmer]').val();
    console.log(sp_farmer)
    // var croptypeid = $('input[name=crop_typeid]').val();
    // console.log(croptypeid)
    // var croptypeid = $('crop_typeid').find(":selected").text();
    // console.log(croptypeid)
    //  $('#croptype').on('change',function(){
    // var croptypeid=$('this').find("option:selected").val();
    var croptypeid = $('select[name=crop_typeid]').val()
    console.log(croptypeid)
    

    var unitid = $('select[name=unitid]').val();

    console.log(unitid)
    var seasonid = $('select[name=seasonid]').val();
    console.log(seasonid)
    var sp_rest = $('input[name=sp_rest]').val();
    console.log(sp_rest)
    var soiltype = $('input[name=soiltype]').val();
    console.log(soiltype)
    var distance = $('input[name=distance]').val();
    console.log(distance)
    var temp = $('input[name=temp]').val();
    console.log(temp)

    // var image = $('input[name=cropimage]').attr('src');
  //   function loadImage() {

  //   alert("Image is loaded");
  // var image = $('.myimage').attr("src")
  //   console.log(image)
  //  }

  // $( ".myimage" ).load(function() {
  $('#image_btn').change(function(event){
    $('#body').load(function () {
  // Handler for .load() called.
  var image = $('.myimage').attr('src');
  console.log(image)
  alert("Image is loaded");
    });
  });
   
   
    
    //  $('#image_btn').change(function(event){
    //  var image = $('.myimage').attr('src');
    //  console.log(image)
    //   });

$.ajax({

url: 'http://127.0.0.1:8000/farmapp/updatecrop/',
type: 'POST',
data:{

    id:e.target.id,  
   
    cropname:crop_name,
   c_variety:variety,
   c_desc   : cropdesc,
   c_duration:crop_duration,
   mid_check:midwaycheck,
   first_harvest:ready_4_harvest,
   thirdharvest:third_harvest,
   secondharvest:second_Harvest,
   fourthharvest:fourth_harvest,
   noharvest:no_harvest,
   regrow_days:regrowdays,
   packing_id:packingid,
   unit_perpack:unit_per_pack,
   spwholesale:sp_wholesale,
   crop_typeid:croptypeid,
    spfarmer:sp_farmer,
    unit_id:unitid,
   season_id:seasonid,
   sp_rest:sp_rest,
   soil_type:soiltype,
   distance:distance,
   temp:temp,
  
   csrfmiddlewaretoken: '{{ csrf_token }}',
   


},
success: function (res) {
  
  alert(res);
},
error: function (res) {
  console.log(res);

},
});
   
});


}); 
// });

</script>
</html>