{% load static %}
<html lang="en"> 
<head> 
  <title>tazofarm</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link href="{% static 'css/test.css' %}" rel="stylesheet" type="text/css">
<style>
  .tb{
    height: 60px;
  }

  table {
    border-collapse: collapse;
}
  tr:nth-child(n + 6) {
    visibility: hidden;
}
</style>
</head> 
<body> 
    <div class="container-fluid"> 
       
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
    <nav class="navbar navbar-light navbar-primary " > 
        <div class="container-fluid"> 
          <div class="navbar-header"> 
            <a class="navbar-brand" href="#" style="color: white;"><center>Tazofarm</center></a> 
          </div> 
          <ul class="nav navbar-nav">
            <li><a href=""  class="active"  style="color: white;">Dashboard</a></li>  
            <li><a href="#"  style="color: white;"> Master</a></li> 
            <li><a href="#"  style="color: white;">Transaction</a></li> 
            <li><a href="#"  style="color: white;">Reports</a></li> 
          </ul> 
          <ul class="nav navbar-nav navbar-right"> 
            
            <li><a style="color: white;" href="#"><span class="glyphicon glyphicon-log-in" style="color: white;"></span> Logout</a></li> 
          </ul> 
        </div> 
      </nav>
      </div>
    </div>
    
    <div class="container" >
    
        <div class="col-lg-6 col-md-6 col-xs-12 magnify tb" >
            <div class="panel panel-info">
                <div class="panel-heading panel-primary">RACK 
                    <span> <a href="/farmapp/showrack/"><i class="fa fa-home">View more </a></span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                       
                        <thead>
                        <tr>
                          <th>Rack id</th>
                          <th>Rack Name</th>
                        
                          <th>QR Code</th>
                          <!-- <th>Active</th> -->
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for obj in rackdata %}
                        <tr data-ng-repeat="customer in people | filter: table">
                         
                          <td>{{obj.id}}</td>
                          <td>{{obj.rack_name}}</td>
                          <td>{{obj.qrcode}}</td>
                          <!-- <td>
                            <form method="GET">
                           
                            <button class="btn btn-info btn-xs" value="{{obj.id}}" name="delete">Delete</button>
                          </form>
              
                          </td> -->
                        </tr>
                        {% endfor %}
                      </tbody>
              
              
                      </table>
                      
                </div>
            </div>
            </div>
    
       
            <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
            <div class="panel panel-info">
                <div class="panel-heading">BAY
                    <span> <a href="/farmapp/showbay/"><i class="fa fa-home">View more </a></span>
                    </div>
                    <div class="panel-body">
                    <table class="table table-bordered" id="dataTable" width="100%"  cellspacing="0">
                        <thead>
                            <tr>
                              <th>Rack Name</th>
                              <th>Bay id</th>
                              <th>Bay Name</th>
                            
                              <th>QR Code</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for obj in baydata %}
                            <tr data-ng-repeat="customer in people | filter: table">
                              <td>{{obj.fk_rackid.rack_name}}</td>
                              <td>{{obj.id}}</td>
                              <td>{{obj.bay_name}}</td>
                              <td>{{obj.qrcode}}</td>
                              
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
            </div>
    
            
            <div class="col-lg-6 col-md-6 col-xs-12 magnify ">
            <div class="panel panel-info" >
                <div class="panel-heading">TOWER
                    <span> <a href="/farmapp/tower/"><i class="fa fa-home">View more </a></span>
                </div>
                <div class="panel-body">
                     <!-- <div class="col-md-6"> --> 
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                    <tr>
                      <!-- <th>Tower id</th> -->
                      <th>Tower Name</th>
                      <!-- <th>Tower Location</th> -->
                      <th>QR code</th>
                      <!-- <th>Tower Color</th> -->
                      <!-- <th>Tower Height</th> -->
                      <th>Rack Name </th>
                      <th>Bay Name </th>
                      <th> Vendor name </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in towerdata %}
                    <tr data-ng-repeat="customer in people | filter: table">
                      <!-- <td>{{obj.id}}</td> -->
                      <td>{{obj.tower_name}}</td>
                      <!-- <td>{{obj.tower_location}}</td> -->
                      <td>{{obj.qrcode}}</td>
                      <!-- <td>{{obj.tower_color}}</td> -->
                      <!-- <td>{{obj.tower_height}}</td> -->
                      <td>{{obj.Rack_id.rack_name}}</td>
                      <td>{{obj.Bay_id.bay_name}}</td>
                      <td>{{obj.vender_id.vender_name}}</td>
          
                    </tr>
                    {% endfor %} 
                    </tbody>
                  </table>
                </div></div>
                </div>
            

            <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
            <div class="panel panel-info">
                <div class="panel-heading">VENDOR
                    <span> <a href="/farmapp/showvendor/"><i class="fa fa-home">View more </a></span>
                </div>
                <div class="panel-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>Vendor id</th>
                      <th>Vendor Name</th>
                    
                      
                      <!-- <th>Active</th> -->
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in vendordata %}
                    <tr data-ng-repeat="customer in people | filter: table">
                     
                      <td>{{obj.id}}</td>
                      <td>{{obj.vender_name}}</td>
                      
                      <!-- <td>
                        <button class="btn btn-info delete_btn" id="{{obj.id}}"></button>
                      </td> -->
                    </tr>
                    {% endfor %}
                  </tbody>
         </table>
                </div>
            </div>
             </div> 
  


         <div class="col-lg-6 col-md-6 col-xs-12 magnify ">
      <div class="panel panel-info">
          <div class="panel-heading">CROP
              <span> <a href="/farmapp/showcrop/"><i class="fa fa-home">View more </a></span>
              </div>
              <div class="panel-body">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                        <th>Crop Name</th>
                        <th>Midway days</th>
                        <th>1st harvest</th>
                        <th>2nd harvest</th>
                        <th>3rd harvest</th>
                        <th>4th harvest</th>
                        <th>Unit</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <!-- {% for obj in baydata %} -->
                      <tr data-ng-repeat="customer in people | filter: table">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      <!-- {% endfor %} -->
                    </tbody>
              </table>
          </div>
      </div>
      </div>
    </div>
  </div>
  </div>
    
        
<!--            
            <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                <div class="panel panel-info">
                    <div class="panel-heading">You can drag this panel too.</div>
                    <div class="panel-body">More blah content here...</div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                    <div class="panel panel-info">
                        <div class="panel-heading">You can drag this panel too.</div>
                        <div class="panel-body">More blah content here...</div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                        <div class="panel panel-info">
                            <div class="panel-heading">You can drag this panel too.</div>
                            <div class="panel-body">More blah content here...</div>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 magnify" >
                            <div class="panel panel-info">
                                <div class="panel-heading">You can drag this panel too.</div>
                                <div class="panel-body">More blah content here...</div>
                            </div>
                            </div> -->
        
    <!-- </div> -->
</body> 
      <script>
          jQuery(function($) {
        var panelList = $('#draggablePanelList');

        panelList.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading', 
            update: function() {
                $('.panel', panelList).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });

    jQuery(function($) {
        var panelList2 = $('#draggablePanelList2');

        panelList2.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading', 
            update: function() {
                $('.panel', panelList2).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });


      </script>
      

</html>  