{% extends "menu.html"%}
{% block content %}
<a href="/farmapp/addrack"><button class="btn glyphicon glyphicon-plus" id="addbutton"></button></a>
<br><br>
<div >
    <div class="container-fixed" data-ng-app="myApp" data-ng-controller="myCtrl">

        <div class="row">
          <div class="col-md-8">
            Search:
            <input type="text" class="search" data-ng-model="table" />
          </div>
          <div class="col-md-4">
           
          </div>
        </div>
        <br/>
        <table class="col-md-12">
          <thead>
          <tr>
            <th>Rack id</th>
            <th>Rack Name</th>
          
            <th>QR Code</th>
            <th>Active</th>
            
          </tr>
        </thead>
        <tbody>
          {% for obj in rackdata %}
          <tr data-ng-repeat="customer in people | filter: table">
           
            <td>{{obj.id}}</td>
            <td>{{obj.rack_name}}</td>
            <td>{{obj.qrcode}}</td>
            <td>
              <button class="btn btn-info delete_btn" id="{{obj.id}}"></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>


        </table>
        <div data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"></div>
      </div>
</div>
<script>
    <script>
    var app = angular.module('myApp', ['ui.bootstrap']);
app.controller('myCtrl', function($scope) {
  $scope.customers = [{
    
  }],
  $scope.people=[],
  $scope.currentPage = 1,
  $scope.numPerPage = 5,
  $scope.maxSize = 5;
  
  
  
  $scope.numPages = function () {
    return Math.ceil($scope.customers.length / $scope.numPerPage);
  };
  
  $scope.$watch('currentPage + numPerPage', function() {
    var begin = (($scope.currentPage - 1) * $scope.numPerPage)
    , end = begin + $scope.numPerPage;
    
    $scope.people = $scope.customers.slice(begin, end);
  });
  
  
});
</script>

</script>

{% endblock %}
