<!DOCTYPE html>   

<html lang="en">  
 
<head>   
<meta charset="utf-8">   
<title>Vendor</title>   
<meta name="description" content="Creating a Employee table with Twitter Bootstrap. Learn with example of a Employee Table with Twitter Bootstrap.">  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
<style>
   .navbar{
        color:white;
        background-color:#1e5598;
    }
    .nav{
      color:white;
    }
    #addbutton{
      float: right;
    }
</style>
</head> 
 
<body style="margin:20px auto">  
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
<nav class="navbar navbar-light navbar-primary" > 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <a class="navbar-brand" href="#" style="color: white;">Tazofarm</a> 
      </div> 
       <!-- <ul class="nav navbar-nav">
         
        <li class="active">Dashboard</li> <span><li><a href="#"> Master</a></li> </span> 
       
        <li><a href="#">Transaction</li> 
        <li><a href="#">Reports</li> 
      
       </ul> --> 
      <ul class="nav navbar-nav navbar-right"> 
        <li><a style="color: white;" href="/farmapp/menu"><span  class="glyphicon glyphicon-chevron-left" style="color: white;"> </span> </a></li>
        <li><a style="color: white;" href="/farmapp/login"><span class="glyphicon glyphicon-log-out" style="color: white;"></span> Logout</a></li> 
      </ul> 
    </div> 
  </nav>
  </div>
</div>

<button class="btn glyphicon glyphicon-plus" id="addbutton" data-toggle="modal" data-target="#myModal"></button>
<br>
<br>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <center> <h2  class="modal-title" style="color: black;"></h2>Rack</center>
      </div>
      <div class="modal-body">
      
        <form action="/farmapp/addtower/" method="POST">
          {% csrf_token %}
        <div class="form-group col-md-6"> 
          <label>Rack id</label> 

           <select name="rackid" class="col-md-6"> 
            {% for obj in rackdata %} 
            <option value="{{obj.id}}">{{obj.rack_name}}</option> 
            {% endfor %}
           </select> 
          </div> 
           <div class="form-group col-md-6"> 
            <label>Bayid</label> 
             <select name="bayid" class="col-md-6"> 
              {% for obj in baydata %} 
              <option value="{{obj.id}}">{{obj.bay_name}}</option> 
              {% endfor %}
             </select> 
          </div> 
          <div class="form-group col-md-6"> 
            <label>Vendorid</label> 
             <select name="vendorid" class="col-md-6"> 
              {% for obj in vendordata %} 
              <option value="{{obj.id}}">{{obj.vendor_name}}</option> 
              {% endfor %}
             </select> 
          </div> 
        <br>
        
        
        <div class="form-group"> 
          <label style="float: left;">Tower name:</label> 
          <input type="text" class="form-control" name="towername" placeholder="Enter Name"> 
        </div> 
        <div class="form-group"> 
            <label>Tower Location:</label> 
            <input type="text" class="form-control" name="towerlocation" placeholder="Enter Location"> 
          </div> 
          <div class="form-group"> 
            <label>QR code:</label> 
            <input type="text" class="form-control" name="qrcode" placeholder="" > 
 
          </div> 
          <div class="form-group"> 
            <label>Tower color:</label> 
            <input type="text" class="form-control" name="towercolor" placeholder="Enter Location" > 
          </div> 
          <div class="form-group"> 
            <label>Tower Height:</label> 
            <input type="text" class="form-control" name="towerheight" placeholder="Enter Location" > 
          </div> 
 
         
          <center>
          <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-danger">Cancel</button>
          </center>
          {% if msg %}
          <span style="color: darkred;"> {{msg}}</span>
          {% endif %}
              
      
      
       </form>
 
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>
  <!-- Table -->

 <table class="myTable table table-striped table-hover table-sortable" id="tab_logic">
        
          <thead>
            <tr>
              <!-- <th>Tower id</th> -->
              <th>Tower Name</th>
              <th>Tower Location</th>
              <th>QR code</th>
              <th>Tower Color</th>
              <th>Tower Height</th>
              <th>Rack Name </th>
              <th>Bay Name </th>
              <th> Vendor</th>
              <th>Action</th>
            </tr>
          </thead>
            <tbody>
            {% for obj in towerdata %}
            <tr id="{{obj.id}}" class="tr_clone">
               <!-- <td data-name="id">
                <input type="text"  name='id'  placeholder='Name'  class="form-control" readonly value="{{obj.id}}"></td> --> 
              <td data-name="name">
                <input type="text"  name='towername'  placeholder='Name' readonly class="form-control input-xs input tower_name" value="{{obj.tower_name}}"></td>
              <td data-name="location">
                <input type="text"  name='towerlocation'  placeholder='Name' readonly class="form-control input tower_location"  value="{{obj.tower_location}}"></td>
              <td data-name="qrcode">
                 <input type="text"  name='qrcode'  placeholder='Name' readonly class="form-control input qr_code"  value="{{obj.qrcode}}"></td>
              <td data-name="color">
                <input type="text"  name='towercolor'  placeholder='Name' readonly class="form-control input tower_color"  value="{{obj.tower_color}}"></td>
              <td data-name="height">
                <input type="text"  name='towerheight'  placeholder='Name' readonly class="form-control input tower_height"  value="{{obj.tower_height}}"></td>
              <td data-name="rackname">
                <input type="text"  name='rackname'  placeholder='Name' readonly class="form-control input rack_name"  value="{{obj.Rack_id.rack_name}}"></td>
              <td data-name="bayname">
                <input type="text"  name='bayname'  placeholder='Name' readonly class="form-control input bay_name"  value="{{obj.Bay_id.bay_name}}"></td>
              <td data-name="vendorname">
                <input type="text" name='vendorname'  placeholder='Name' readonly class="form-control input vendor_name"  value="{{obj.vendor_id.vendor_name}}"></td>
              <td data-name="delete">
                <span>
                  
                  <button type="button" class="btn btn-xs btn-primary edit" id="{{obj.id}}" value="Edit">Edit</button>
                  <button type="button" class="btn btn-xs btn-success tr_clone_add" id="{{obj.id}}" value="copy">Copy</button>
                  <button onclick="fn_delete_tower('{{obj.id}}')" class="btn btn-danger btn-xs delete_btn glyphicon glyphicon-trash"
                  name="delete"></button>
              
                    </span> 
              </td>
            </tr>
            {% endfor %}
          </tbody>
  
          
            

        </table>
    </div>
      </div>
    </body>  
    
    <script>
    $(document).ready(function(){
        $('.myTable').dataTable();
    });
    </script>
    <script type="text/javascript">

        function fn_delete_tower(id) {
          $.ajax({
            url: 'http://127.0.0.1:8000/farmapp/deletetower/',
            type: 'POST',
            data: {
              id,
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (res) {
              $('#'+ id).remove();
            },
            error: function (err) {
              console.log(err);
            }
          });
        }
      </script>
      
      <!-- ///////Update///// -->
      <script type="text/javascript">
      
          $(document).ready(function(){
      
          $('.edit').click(function(e){
      
            $('.input').prop('readonly',true);
      
            console.log( e.target.value)
           if(e.target.value == 'Edit')
           {
             $('.input').prop('readonly',false);
             $('.edit').text('Update');
             e.target.value = 'Update';
             console.log( e.target.value)
           
           }
           else{
            console.log( e.target.id)
            $('.edit').text('Edit'); 
             user_id=e.target.id;
            //  element =$('.'+user_id);
            
            // user=$(user_id).find('.input').val();
            
            
      
      /////formdata- to get text box updated value from front end corresponding to id ///
            
            
             tower_name = $(this).closest('tr').find('.tower_name').val();
             console.log(tower_name)
             tower_location = $(this).closest('tr').find('.tower_location').val();
             console.log(tower_location)
             qr_code = $(this).closest('tr').find('.qr_code').val();
             console.log(qr_code)
             tower_color = $(this).closest('tr').find('.tower_color').val();
            console.log(tower_color)
             tower_height = $(this).closest('tr').find('.tower_height').val();
            console.log(tower_height)
             rack_name = $(this).closest('tr').find('.rack_name').val();
             console.log(rack_name)
             bay_name = $(this).closest('tr').find('.bay_name').val();
             console.log(bay_name)
             vendor_name = $(this).closest('tr').find('.vendor_name').val();
            console.log(vendor_name)
             
             
            
            
      
           /////////// // ajaxcode/////
      
           $.ajax({
      
            url: 'http://127.0.0.1:8000/farmapp/updatetower/',
            type: 'POST',
            data:{
               id :e.target.id,
               tname :tower_name,
               towerlocation: tower_location,
               qrcode:qr_code,
               towercolor: tower_color,
               towerheight:tower_height,
               rackname: rack_name,
               bayname:bay_name,
               vendorname:vendor_name,
               csrfmiddlewaretoken: '{{ csrf_token }}'
              
            },
            success: function (res) {
              
              alert(res);
            },
            error: function (err) {
              console.log(err);
            }
          });
      
             e.target.value ='Edit';
        
      
           }
           
            
           });
           
        });
      
      </script>
      
      <!-- //////// clone new raw///// -->
      <!-- <script src="myjquery/jquery-3.3.1.min.js"></script> -->
      
     
      
      <script>
        var cindex =1;
      $(".tr_clone_add").live('click', function() { 
          var $tr    = $(this).closest('.tr_clone'); 
          var newClass='newClass'; 
          var $clone = $tr.clone().addClass(newClass); 
          $clone.find(':text').val(); 
          // $clone.attr('id', 'id'+ 1);
          $tr.after($clone); 
      });
      </script>
      

   

</html>
