<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
    		    font-family: arial, sans-serif;
    		    border-collapse: collapse;
    		    width: 100%;
    		}
    		td, th {
    		    border: 2px solid #dddddd;
    		    text-align: left;
    		    padding: 8px;
    		}
</style>
<body>
    <div class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
        <div class="row">
          <div class="col-md-2">
            Search:
          </div>
          <div class="col-md-10">
            <input type="text" class="search" data-ng-model="table" />
          </div>
        </div>
        <br/>
        <table>
          <tr>
            <th>Tower id</th>
            <th>Tower Name</th>
            <th>Tower Location</th>
            <th>QR Code</th>
            <th>Action</th>
          </tr>
          <tr data-ng-repeat="customer in people | filter: table">
            <td>{{customer.Name}}</td>
            <td>{{customer.City}}</td>
            <td>{{customer.Country}}</td>
            <td>{{customer.Country}}</td>
            <td>{{customer.Country}}</td>
          </tr>
        </table>
        <div data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"></div>
      </div>
</body>
<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
app.controller('myCtrl', function($scope) {
  $scope.customers = [{
    
  }],
  $scope.people=[],
  $scope.currentPage = 1,
  $scope.numPerPage = 5,
  $scope.maxSize = 5;
  
  
  
  $scope.numPages = function () {
    return Math.ceil($scope.customers.length / $scope.numPerPage);
  };
  
  $scope.$watch('currentPage + numPerPage', function() {
    var begin = (($scope.currentPage - 1) * $scope.numPerPage)
    , end = begin + $scope.numPerPage;
    
    $scope.people = $scope.customers.slice(begin, end);
  });
  
  
});
</script>
</html>