<!-- for user to c the tower details-->
{% extends "menu.html"%} 
{% block content %}

<br><br>
<div id="table-view">
    <table class="table" border="1">
        <thead>
            <tr>
        <th>Tower id</th>
    
        <th>Tower Name</th>
        <th>Tower Location</th>
        <th>QR Code</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
             
            </td>
        </tr>
    </tbody>

    </table>
</div>

{% endblock %}